<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <a routerLink="/" class="list-group-item">Dashbord</a>
        <a routerLink="/customer" class="list-group-item">Customer</a>
        <a routerLink="/contact" class="list-group-item">Contact</a>
      </ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>